*.log
.venv*
B02_files/
videos/
.idea/
__pycache__/
/build/
/dist/
/.pytest_cache/
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/
.cache/
.hypothesis/
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/
.cache/
.hypothesis/
.pytest_cache/
.pytest_cache/
.pytest
images/
*.jpg